body {
    background-color: rgb(8, 19, 78);

}
 h1{
    color: rgb(148, 9, 9);
    text-align: center;
    font-size: 400%;
 }

 .bat{
    display:flex;
    justify-content: center;
   }
   
   .texto{
      display:flex;
    text-align: center;
      font-size: 150%;
   color: rgb(255, 255, 255);
   }

   .texto2{
      color: rgb(255, 255, 255);
    text-align: center;
    font-size: 250%;
   }
   
   .bat_robin{
      display: flex;
      font-size: 250%;
      color: rgb(255, 255, 255);
   }

 h2{
    color: rgb(148, 9, 9);
    text-align: center;
    font-size: 400%;
 }
 .Batran{
   display: flex;
   justify-content:center;
   text-align: center;
   font-size: 100%;
   color: rgb(255, 255, 255);
 }
 .logo2{
   display:flex;
   
 }
