body {
    background-color: rgb(8, 19, 78);

}
 h1{
    color: rgb(148, 9, 9);
    text-align: center;
    font-size: 400%;
 }

 .bat{
    display:flex;
    justify-content: center;
 }

 .texto{
    font-size: 250%;
    color: rgb(255, 255, 255);
 }

 .bat_robin{
    display: flex;
    justify-content: right;
 }

 h2{
    color: rgb(148, 9, 9);
    text-align: center;
    font-size: 400%;
 }